<?xml version='1.0'?>
<launch>

    <arg name="scan_topic" default="/scan" />
    <arg name="map_topic" default="/map" />
    <arg name="odom_frame_name" default="odom" />

    <arg name="rvizconfig"
         default="$(find bbblue_bot_description)/rviz/slam.rviz"/>

    <node ns="/bbblue_bot"
          name="slam_gmapping" 
          pkg="gmapping" 
          type="slam_gmapping"
          output="log">

    <param name="odom_frame" value="$(arg odom_frame_name)"/>
    <rosparam file="$(find bbblue_navigation)/config/slam_gmapping_params.yaml"
                    command="load"/>

    <remap from="scan" to="$(arg scan_topic)"/>
    <remap from="map" to="$(arg map_topic)"/>

    </node>

</launch>
