<?xml version='1.0'?>
<launch>

    <arg name="scan_topic" default="/bbblue_bot/laser/scan" />
    <arg name="map_topic" default="/map" />

    <arg name="rvizconfig"
         default="$(find bbblue_bot_description)/rviz/slam.rviz"/>

    <include file="$(find bbblue_bot_gazebo)/launch/bbblue_gazebo.launch">
        <arg name="rvizconfig" value="$(arg rvizconfig)"/>
    </include>

    <node name="slam_gmapping" 
          pkg="gmapping" 
          type="slam_gmapping"
          output="screen">

        <rosparam file="$(find bbblue_navigation)/config/slam_gmapping_params.yaml" />
        <remap from="scan" to="$(arg scan_topic)"/>
        <remap from="map" to="$(arg map_topic)"/>

    </node>

</launch>
